body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.glitch.me/c4fe477d-351b-4d96-9041-a382ab46d871/45f0e5dd-95b9-41ae-b993-0641a986c7b0.image.png?v=1693326458426");
    background-size: cover;
  background-repeat:no-repeat;
  width:100%;
  height:100vh;
    background-position: center;
  }
  
  header {
    color:white;
    text-align: center;
    padding: 1rem 0;
    font-size:23px
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: -0.3rem;
  }
  
  .destination {
    border: 1px solid #ccc;
    width:200px;
    border-radius: 5px;
    margin: -0.2rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:white;
  }
  
  .destination img {
    max-width: 95%;
    height: auto;
  }
  
  footer {
    text-align: center;
    padding: 1rem 0;
    color: #fff;
  }
  a{
    text-decoration: none;
    color:white;
  }
  a:hover{
    color:rgb(10, 14, 17);
  }
  